@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --week-table-cell-width: 100px;
    --week-table-cell-height: 50px;
}

#week-container {
    width: 750px;
    height: 500px;
    overflow: auto;
    margin-right: 15px;
}

#month-container {
    width: 750px;
}

#task-container {
    width: 750px;
    height: 500px;
}

thead {
    position: sticky;
    top: 0;
}

tbody {
    overflow-y: scroll;
}

td,
th {
    width: var(--week-table-cell-width);
    height: var(--week-table-cell-height);
}

td:hover {
    background-color: lightgray;
}

tr td:first-child {
    text-align: right;
    width: 50px;
    font-size: 14px;
}

tr th:first-child {
    width: 50px;
}